@use './colors.scss';

#main {
    width: 100%;
    display: flex;
    padding: 20px 20px 20px 40px;
    border-radius: 20px;
    background-color: $dark-gray;
    height: 50vh;
    justify-content: space-around;
}


#canvas-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: left;
    align-self: center;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    a{
        color: $red;
        &:visited{
            color: $yellow;
        }
        &:first-child{
            animation-duration: 4s;
            animation-name: shake;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }        
        @keyframes shake {
            0% {
                transform: rotate(1deg);
            }
        
            1% {
                transform: rotate(-1deg);
            }
            2% {
                transform: rotate(1deg);
            }
        
            3% {
                transform: rotate(-1deg);
            }
            4% {
                transform: rotate(1deg);
            }
        
            5% {
                transform: rotate(-1deg);
            }
            6% {
                transform: scale(1, 1)
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        p {
            display: block;
            margin-top: 10px;
            font-size: larger;
        }
    }
    img {
        width: 15vw;
        max-width: 225px;
    }
}
